<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <small><%= current_date %></small>
        <!-- [!!!] updated-values sera utilisé pour cibler la balise à mettre à jour-->
        <pre id="updated-values">Pending</pre>

        <div>
          <span><small>Production : </small></span>
          <span id="updatedProduction"></span>
          <span> W</span>
        </div>
        <div>
          <span><small>Consumption : </small></span>
          <span id="updatedConsumption"></span>
          <span> W</span>
        </div>
        <div>
          <span><small>Net Power : </small></span>
          <span id="updatedNetPower"></span>
          <span> W</span>
        </div>

        <br />
      </div>
    </div>

    <div class="container">
      <% include content %>
      <hr />

      <% include footer %>
    </div>
    <!-- /container -->
    <!-- [!!!] fait planter <script type="text/javascript">
      $(document).ready(function() {
        $('#home').addClass('active');
      });
    </script>  -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- [!!!] -->
    <script src="js/client.js"></script>
  </body>
</html>
